.header {
    width: 100%;
    height: 8vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .05);
    position: sticky;
    z-index: 500;
    display: block;
}

.logo {
    height: 12vh;
    margin-right: 0;
    padding-top: 7px;
    padding-left: 5%;
}

.login-signup {
    display: flex;
    gap: 2vw;
    position: absolute;
    right: 9vw;
    top: 2vh;
    text-align: center;
}

a {
    text-decoration: none;
}

.login {
    border: 2px solid #ff219f;
    border-radius: 5px;
    color: rgb(212, 24, 87);
    width: 5vw;
}

.signup {
    background-color: #ff219f;
    color: white;
    border-radius: 5px;
    width: 5vw;
    border: #ff219f;
}

.all-content {
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
    position: absolute;
    right: 6vw;
    color: grey;
}

.ele {
    color: grey;
}

.box {
    display: none;
}


.study-mat:hover {
    color: black;
}

.study-mat:hover .box {
    display: block;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgb(212, 211, 211);
    gap: 1.5vh;
    border-radius: 10px;
    height: 18vh;
    width: 20vw;
    position: absolute;
    top: 3vh;
    font-weight: bold;
    background-color: white;
    padding-left: 15px;
}

.box2 {
    display: none;
}

.study-mat:hover .box2 {
    background-color: white;
    display: block;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgb(212, 211, 211);
    gap: 2vh;
    border-radius: 10px;
    min-height: 20vh;
    width: 12vw;
    position: absolute;
    right: 5px;
    top: 3.5vh;
    font-weight: bold;
    padding: 15px;
}

.video {
    color: grey;
    padding-top: 10px;

}

.video:hover {
    color: rgb(29, 123, 231);
}


/*----------------------my name after login------------------*/

.myname {
    position: relative;
    bottom: 3vh;
    margin-left: 40px;
    text-transform: capitalize;
    font-size: 14px;
    cursor: pointer;
}

.names {
    width: 12vw;
    height: 35px;
    gap: 1vw;
    display: flex;
    align-items: center;
    margin-right: 10px;
    border: 2px solid rgb(111, 0, 255);
    text-align: center;
    letter-spacing: 1.5px;
    color: #4b8ce8;

}

.circlen {
    color: #fff;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    padding-left: 2px;
    background-color: #03A6EC;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}



.userDropownContainer {
    box-shadow: none;
    display: block !important;
    position: absolute;
    left: 0%;
    top: 130%;
    min-width: max-content;
    width: 120%;
    line-height: 3.8;
    color: #5a5a5a;
    background-color: #fff;
    border-top: 0.1px solid rgba(0, 0, 0, .07);
    font-weight: 400;
    border-bottom: 0.1px solid rgba(0, 0, 0, .07);
}

.userDropownContainer .dropDownContainer__Item {
    padding-left: 1em;
}

.userDropownContainer .dropDownContainer__Item:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;
    gap: 10px;
    border-bottom: 1px solid #3e4041;
}

/* =========================MOBILE NAVBAR CONTAINER =============
===============================*/
.mobileNavbar__Conainer {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    height: 640px;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
    display: none;
}

.mobileNavbar__Conainer .mobilenav__items,
.mobileNavbar__Conainer .mobileNav__UserBox {
    display: none;
}

.mobileNav__UserBox {
    height: 120px;
}

.mobileNav__userGreeting {
    border-bottom: 1px solid #767779;
    width: 100%;
    padding-left: 1em;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: 60px;
    font-weight: 400;
    text-decoration: none;
    color: #3e4041;
}

.mobileNav__userGreeting i {
    font-size: 20px;
}

.mobilenav__items {
    display: block;
    height: 50px;
    text-decoration: none;
    width: 100%;
    font-weight: 500;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1em;
    font-size: 16px;
    color: #424242;
}

.mobilenav__items:hover {
    color: #4b8ce8;
    cursor: pointer;
}

.Mobilenav__loginSignUpLink {
    color: #f78077;
    font-size: 20px;
}


.header__hamMenuButton {
    font-size: 22px;
    color: rgb(24, 107, 225);
    display: none;
    cursor: pointer;
}

.hampburger {
    display: none;
}

.mobileNavbar__Container {
    display: none;
}


/*=========================MEDIA QUERRY===================
===========================================*/

@media screen and (max-width: 665px) {
    .header {
        display: none;
    }

    .mobileNavbar__Container {
        display: block;
    }

    .head-Main-Container {
        border: 2px solid red;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: sticky;
        z-index: 400;
        height: 15vh;
    }

    .hampburger {
        display: block;
    }

    .header__hamMenuButton {
        font-size: 22px;
        color: rgb(24, 107, 225);
        display: block;
        position: relative;
        cursor: pointer;
    }

}