.elevationMain {
    color: #3e4041;
    min-height: 550px;
    background: #fff;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.elevation1 {
    display: flex;
    background-color: rgb(253, 240, 215);
    width: 90%;
    margin-left: 5vw;
}

.elevation1-left {
    width: 40%;
    padding: 60px 40px;
}



.para {
    width: 70%;
    line-height: 1.6;
    margin-bottom: 10px;
    font-size: 18px;
    color: #424242;
}

.list {
    display: flex;
    gap: 1vw;
}

.ele1-button {
    display: flex;
    justify-content: space-evenly;
}

.ele1-buttonA {
    background: #00a5ec 0 0 no-repeat padding-box;
    border: none;
    padding: 15px 52px 14px 51px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
}

.ele1-buttonB {
    background: transparent;
    box-shadow: 0 3px 6px rgba(95, 141, 196, .2);
    border-radius: 5px;
    color: #00a5ec;
    border: 1px solid #00a5ec;
    padding: 14px 41px 13px 30px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}

.elevation1-right {
    width: 60%;
}

.elevation1-right img {
    margin-top: 10vh;
    width: 100%;

}

/*------------------elevation2-------------*/
.elevation2 {
    max-width: 90%;
    background: #e5f4fb 0 0 no-repeat padding-box;
    margin-left: auto;
    margin-right: auto;
}

.elevation-2 {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ele2-left {
    width: 35%;
}

.ele2-left h5 {
    letter-spacing: 0;
    color: #424242;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.ele2-left p {
    letter-spacing: 0;
    color: #f7f7f7;
    background: #00a5ec 0 0 no-repeat padding-box;
    display: inline-block;
    padding: 7px 12px;
    font-size: 20px;
    font-weight: 600;
}

.ele2-right {
    width: 65%;
    display: flex;
    justify-content: center;
}

.EA_Batch__SessionInforContainer {
    width: calc(100% - 26%);
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em;
    gap: 2vw;
    border: 2px solid green;
}

.EA_Batch_SessionBox {
    height: 32vh;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Ea_SessionBoxTitle {
    color: #095170;
    font-size: 1vw;
    font-weight: 600;
}

.Ea_session_date {
    font-size: 12px;
    background: #d6f3ff;
    border: 0.5px dashed #00a5ec;
    border-radius: 6px;
    text-align: center;
    color: #424242;
    padding: 0.3em;
    min-width: 7vw;
}

.dd {
    width: 15vw;
}

.Ea_batch_SessionIconContainer {
    position: relative;
}

.Ea_batch_SessionIconContainer:nth-child(1)::after {
    content: "";
    position: absolute;
    height: 2px;
    background: transparent linear-gradient(90deg, #00a5ec, #99e0ff);
    position: absolute;
    top: 28px;
    left: 100%;
    width: 10.5vw;
}


/*=====================container3================
================================*/

.EA__Job_PathMainContainer {
    margin-left: 5vw;
    width: 90%;
    min-height: 600px;
    margin-top: 6em;
}

.EA_jobPath_heading {
    color: #424242;
    font-size: 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 1em;
}

.EA_jobpathContainer {
    width: 100%;
    min-height: calc(600px - 50px);
    display: flex;
    justify-content: center;
    padding: 2em 0em;
}

.EA_JobPath_List_Container {
    width: 40%;
}

.EA_JobList_Box {
    font-size: 1.1vw;
    border-radius: 10px;
    padding: 1em 0em;
    width: 65%;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 10px;
    background: #fff;
    border: 0.5px solid #c2c2c2;
    position: relative;
    margin-top: 40px;
    font-weight: 600;

}

.EA_JobList_Box::after {
    content: "";
    position: absolute;
    height: 2px;
    background: transparent linear-gradient(90deg, #00a5ec, #99e0ff);
    width: 61.5%;
    right: -61.5%;
}

.EA_jobList_number {
    width: 45px;
    height: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1607843137254902);
    border-radius: 10px;
    color: #424242;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -22px;
}

.EA_JobList_Box:nth-child(1) {
    color: rgb(255, 158, 82);
}

.EA_JobList_Box:nth-child(2) {
    color: rgb(232, 63, 63);
}

.EA_JobList_Box:nth-child(3) {
    color: rgb(192, 39, 175);
}

.EA_JobList_Box:nth-child(4) {
    color: rgb(32, 142, 189);
}

.EA_JobList_Box:nth-child(5) {
    color: rgb(31, 194, 92);
}

.EA_JobList_Box:nth-child(1) .EA_jobList_number {
    border: 1px dashed rgb(255, 158, 82);
    background-color: rgb(255, 251, 248);
    ;
}

.EA_JobList_Box:nth-child(2) .EA_jobList_number {
    border: 1px dashed rgb(232, 63, 63);
    background-color: rgb(255, 242, 242);
}

.EA_JobList_Box:nth-child(3) .EA_jobList_number {
    background-color: rgb(255, 241, 253);
    border: 1px dashed rgb(192, 39, 175);
}

.EA_JobList_Box:nth-child(4) .EA_jobList_number {
    background-color: rgb(226, 246, 255);
    border: 1px dashed rgb(32, 142, 189);
}

.EA_JobList_Box:nth-child(5) .EA_jobList_number {
    background-color: rgb(231, 255, 240);
    border: 1px dashed rgb(31, 194, 92);
}



.EA_JobPath_List_Desc_Container {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
    border-radius: 10px;
    border: 1px;
    padding: 0em 2em;
    padding-bottom: 2em;
    border: 2px solid red;
    gap: 4vh;
}

.EA_jobPath_descBox {
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1607843137254902);
    border-radius: 10px;
    background: transparent linear-gradient(101deg, #fff, #f3fcff) 0 0 no-repeat padding-box;
    height: 18vh;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em 0.5em;
    position: relative;
    z-index: 2;
}

.EA_jobPath_descBox_text {
    width: calc(100% - 150px);
    color: #424242;
    font-size: 1vw;
}

.Ea_JobPath_descBox_poster {
    width: 130px;
    object-fit: contain;
    object-position: center;
}

/*========================ELEVATION4===========
----------------------------*/
.elevation4 h2 {
    letter-spacing: 0;
    color: #3e4041;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.ele-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ele4-cards {
    width: 22vw;
    height: 40vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1607843137254902);
    border: 0.5px solid #c2c2c2;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
}

.ele4-cards img {
    background: #fdf0d7 0 0 no-repeat padding-box;
    border-radius: 10px;
    height: 8vh;
    width: 4vw;
    padding: 15px;
}

.ele4-innercard {
    height: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.ele4-innercard h4 {
    letter-spacing: 0;
    color: #3e4041;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.ele4-innercard p {
    letter-spacing: 0;
    color: #858585;
    font-size: 16px;
}

/*-----------------------Elevation5---------
------------------------------*/
.EA_ProgramSyllabus_MainContainer {
    min-height: 50vh;
    width: 85%;
    margin: auto;
}

.EA_ProgramSyllabus__Mainheading {
    color: #3e4041;
    text-align: center;
    margin: 10px auto;
    font-size: 2.5vw;
    font-weight: 500;
}

.EA_ProgramSyllabus__Secondaryheading {
    font-weight: 400;
    text-align: center;
    font-size: 1.2vw;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    color: rgba(106, 127, 134, .9294117647058824);
}

.EA_programSyllabus_Container {
    width: 100%;
    min-height: 150px;
    margin: 20px 0px;
}

.EA_ProgramSyllabus_Container_heading {
    background: rgb(247, 128, 119);
    font-weight: 300;
    font-size: 1.3vw;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0px auto;
}

.EA_programSyllabus_box {
    border: 0.25px solid hsla(0, 0%, 43.9%, .2);
    margin: 30px auto 0px auto;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0em 2em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    gap: 20px;
    border-left: 0.5em solid #f78077;
}

.EA_programSyllabus_box::after {
    content: "";
    position: absolute;
    border: 0.25px solid hsla(0, 0%, 43.9%, .2);
    left: 50%;
    top: -54%;
    height: 30px;
}

.EA_programSyllabus_numbering {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #f78077;
    border-radius: 6px;
    padding: 2px;
}

.EA_programSyllabus_numbering span {
    background-color: #f78077;
    width: 90%;
    display: block;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 4px;
}

.EA_programSyllabus_topic {
    font-size: 1.5vw;
    font-weight: 500;
    color: #292626;
}

.EA_ProgramSyllabus_plusICon {
    position: absolute;
    font-size: 33px;
    color: #f78077;
    right: 30px;
    cursor: pointer;
}

.EA_ProgramSyllabus_ContentBox {
    background: #f6f8ff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 8px solid #f78077;
    max-height: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
    margin: 0 auto;
}

.EA_ProgramSyllabus_ActiveContentBox {
    padding: 2em 0.5em 1em 1em;
    max-height: fit-content;
}



.EA_programSyllabus_content_heading {
    font-weight: 400;
    font-size: 1.3vw;
    background: #e8f7ed;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2em;
    color: #292626;
    width: 100%;
}

.EA_ProgramSyllabus_Content {
    border: 1px solid #f78077;
    padding: 1em;
    border-radius: 3px;
    background-color: white;
}


.EA_ProgramSyllabus_MainContainer .EA_programSyllabus_Container:nth-child(3) .EA_ProgramSyllabus_Container_heading {
    background-color: #f78077;
}

.EA_ProgramSyllabus_MainContainer .EA_programSyllabus_Container:nth-child(4) .EA_ProgramSyllabus_Container_heading {
    background: rgb(101, 187, 229);
}

.EA_ProgramSyllabus_MainContainer .EA_programSyllabus_Container:nth-child(5) .EA_ProgramSyllabus_Container_heading {
    background: rgb(101, 187, 229);
}

.EA_ProgramSyllabus_MainContainer .EA_programSyllabus_Container:nth-child(6) .EA_ProgramSyllabus_Container_heading {
    background: rgb(247, 182, 67);
}

.EA_ProgramSyllabus_MainContainer .EA_programSyllabus_Container:nth-child(7) .EA_ProgramSyllabus_Container_heading {
    background-color: #f78077;
}

.EA_ProgramSyllabus_MainContainer .EA_programSyllabus_Container:nth-child(8) .EA_ProgramSyllabus_Container_heading {
    background: rgb(101, 187, 229);
}

.EA_ProgramSyllabus_MainContainer .EA_programSyllabus_Container:nth-child(9) .EA_ProgramSyllabus_Container_heading {
    background: rgb(247, 182, 67);
}

.EA_ProgramSyllabus_MainContainer .EA_programSyllabus_Container:nth-child(10) .EA_ProgramSyllabus_Container_heading {
    background: rgb(247, 182, 67);
}

.EA_ProgramSyllabus_MainContainer .EA_programSyllabus_Container:nth-child(11) .EA_ProgramSyllabus_Container_heading {
    background: rgb(101, 187, 229);
}

/*------------------box -clouring------------
-------------------------*/





/*==================ELEVATION6=====================
=====================================*/
.elevation6 {
    background: #fdf0d7;
    display: flex;
    align-items: center;
}

.ele6-left {
    padding: 50px;
}

.ele6-left p {
    font-size: 22px;
    color: #424242;
    margin-bottom: 10px;
    width: 70%;
    font-weight: 600;
    line-height: 1.4;
}

.ele6-left button {
    border-radius: 4px;
    border: none;
    padding: 10px 16px;
    background: #f78077;
    color: #f7f7f7;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/*============================MEADIA QUERRY=============================
============================================================*/
@media screen and (max-width:765px) {

    .elevation1 {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-left: 0vw;
    }

    .elevation1-left {
        width: 100%;
        padding: 20px 20px;
    }

    .para {
        width: 95%;
        line-height: 1.6;
    }

    .ele1-button {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        padding: 0px;
        justify-content: space-evenly;
    }

    .ele1-buttonA {
        width: 90%;

    }

    .ele1-buttonB {
        width: 90%;
    }

    .elevation1-right {
        width: 100%;
    }

    .elevation1-right img {
        margin-top: 10vh;
        width: 100%;
    }

    /*------------------elevation2-------------*/
    .elevation2 {
        max-width: 100%;
        background: #e5f4fb 0 0 no-repeat padding-box;
    }

    .elevation-2 {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .ele2-left {
        width: 100%;
    }

    .ele2-left h5 {
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }


    .ele2-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .EA_Batch__SessionInforContainer {
        width: calc(100% - 9%);
        min-height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0em 1em;
    }

    .EA_Batch_SessionBox {
        min-height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .Ea_SessionBoxTitle {
        color: #095170;
        font-size: 6vw;
        font-weight: 600;
    }

    .Ea_session_date {
        font-size: 12px;
        background: #d6f3ff;
        border: 0.5px dashed #00a5ec;
        border-radius: 6px;
        text-align: center;
        color: #424242;
        padding: 0.3em;

    }

    .Ea_batch_SessionIconContainer {
        position: relative;
    }

    .Ea_batch_SessionIconContainer:nth-child(1)::after {
        content: "";
        position: absolute;
        height: 2px;
        background: transparent linear-gradient(90deg, #00a5ec, #99e0ff);
        position: absolute;
        top: 28px;
        left: 100%;
        width: 15vw;
    }

    /*--------------------container3------------------------*/
    .elevation3 {
        display: none;
    }

    /*========================ELEVATION4===========
----------------------------*/
    .elevation4 h2 {
        letter-spacing: 0;
        color: #3e4041;
        width: 90%;
        font-size: 30px;
    }

    .ele4-cards {
        width: 99%;

    }

    .ele4-cards img {
        width: 14vw;
        padding: 15px;
    }

    /*-----------------------Elevation5---------
------------------------------*/
    .EA_ProgramSyllabus_MainContainer {
        min-height: 50vh;
        width: 90%;
    }

    .EA_ProgramSyllabus__Mainheading {
        font-size: 20px;
    }

    .EA_ProgramSyllabus__Secondaryheading {
        font-size: 14px;
        width: 95%;
    }

    .EA_ProgramSyllabus_Container_heading {
        font-size: 16px;
    }

    .EA_programSyllabus_topic {
        font-size: 10px;
        font-weight: 500;
        color: #292626;
    }

    /*==================ELEVATION6=====================
=====================================*/
    .elevation6 {
        background: #fdf0d7;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ele6-left {
        padding: 50px;
    }

    .ele6-left p {
        font-size: 22px;
        color: #424242;
        margin-bottom: 10px;
        width: 100%;
        font-weight: 600;
        line-height: 1.4;
    }

    .ele6-left button {
        border-radius: 4px;
        border: none;
        padding: 10px 16px;
        background: #f78077;
        color: #f7f7f7;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }




}