.main {
    display: flex;

}

.heading {
    width: 55%;
    padding: 70px;
}

.heading h3 {
    font-weight: 500;
    line-height: 0.5;
    color: #f78077;
    font-size: 43px;
}

.heading h4 {

    font-size: 35px;
    font-weight: 600;
    line-height: 1.4;
    color: #3e4041;
    margin-bottom: 20px;
}

.heading h5 {
    color: #f78077;
    font-weight: 500;
    font-size: 21px;
}

.knowmore {
    margin-right: 30px;
    background: #00a5ec 0 0 no-repeat padding-box;
    border: none;
    padding: 12px 52px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}


.big-img {
    margin-top: 7px;
    width: 45%;
}

.big-img img {
    height: 100%;
    width: 100%;
}

.brand {
    display: flex;
    justify-content: space-evenly;
}

.brand img {
    height: 57px;
}

/*==================================coding=Journey==============*/
.coding-journey {
    display: flex;
    background-color: #f8fafa;
    margin-top: 10vh;

}

.code-jrny-right {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}


/*=======================ALLL BOXES=================*/

.boxx {
    display: flex;
    border: 1px solid red;
    justify-content: space-evenly
}

.boxone {
    width: 45%;
}



.box1 {
    background: rgb(253, 240, 215);
    border: 1px dashed rgb(247, 128, 119);
    box-shadow: 0 3px 25px rgba(0, 0, 0, .10196078431372549);
    border-radius: 5px;
    justify-content: center;
    width: 250px;
    display: flex;
}

.box1 p {
    margin-left: 20px;
    padding: 20px 0px;
    font-weight: 500;
    width: 80%;
    color: rgb(247, 128, 119);

}

.box1 img {
    margin-left: -30px;
}

.ONE {
    color: rgb(247, 128, 119);
}

.TWO {
    color: rgb(253, 205, 6);
}

.THREE {
    color: rgb(15, 181, 130);
}

.FOUR {
    color: rgb(240, 119, 149)
}

.arrow-right {
    position: relative;
    border: 2px solid green;
    top: 27vh;
}

.arrow-left {
    position: relative;
    border: 2px solid green;
    top: 27vh;
    left: 15vh;
}

.box2 {
    background: rgb(255, 249, 228);
    border: 1px dashed rgb(253, 205, 6);
}

.box2 p {
    color: rgb(253, 205, 6);
}

.box3 {
    background: rgb(228, 246, 241);
    border: 1px dashed rgb(15, 181, 130);

}

.box3 p {
    color: rgb(15, 181, 130);
}

/*=======================COURSE BUY===============
============================================*/

.course-buy {
    border: 2px solid blue;
    height: 93vh;
}

.course-buy h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.course-purchase {
    display: flex;
    justify-content: space-evenly;
}

.cards {
    background: #fff;
    -webkit-box-shadow: 0 3px 32px rgba(0, 0, 0, .10196078431372549);
    box-shadow: 0 3px 32px rgba(0, 0, 0, .10196078431372549);
    border-radius: 8px 8px 8px 8px;
    position: absolute;
    z-index: 10;
    height: 55vh;
    padding: 0 1em;
    width: 100%;
    box-sizing: border-box;
}

.cardMain {
    border: 2px solid red;
    height: 56vh;
    position: relative;
    width: 17em;
    top: 9vh;
}

.cardMain:hover {
    box-shadow: 0 15px 32px rgba(12, 12, 12, 0.602);
}

.sect1 {
    height: 25vh;
    position: absolute;
    z-index: -2;
    top: -8vh;
    width: 20vw;
}

.sect1a {
    width: 95%;
    height: 25vh;
    z-index: 10;

}

.S1 {
    color: rgb(0, 165, 236);
    margin: 30px;
    font-size: 18px;
}

.S2 {
    color: rgb(240, 119, 149);
    margin: 30px;
    font-size: 18px;
}

.S3 {
    color: rgb(15, 181, 130);
    margin: 30px;
    font-size: 18px;
}

.circle {
    position: absolute;
    background: #fff;
    -webkit-box-shadow: 0 3px 32px rgba(0, 0, 0, .1607843137254902);
    box-shadow: 0 3px 32px rgba(0, 0, 0, .1607843137254902);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    bottom: -25px;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*==========================GRID CONTAINER DESIGN--------------------
------------------------------------------*/
.grid-main-container {
    display: flex;
    justify-content: space-around;
    background-color: #ebecec;
    min-height: 50vh;
}

.hhh {
    display: none;
}

.grid-container-left {
    width: 35%;
    border: 2px solid red;
}

.grid-container-left h2 {
    color: #3e4041;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.grid-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5vh;
}

.grid-l {
    height: 14vh;
    width: 34vw;
    background-color: white;
    box-shadow: 0 3px 25px rgba(0, 0, 0, .10196078431372549);
    border-radius: 5px;
}

.grid-l img {
    position: absolute;
    height: 10vh;
    margin-left: -30px;
}

.grid-l p {
    font-size: 16px;
    width: 75%;
    margin-left: 5vw;
    color: #707070;
    line-height: 1.6;
}

/*------------------------grid right container---------------*/
.grid-container-right {
    display: flex;
    border: 2px solid rgb(0, 255, 0);
    width: 45%;
}

.grid-right-2 {
    display: flex;
    flex-direction: column;
}

/* .grid-right {
    border: 2px solid rgb(5, 43, 10);
} */

.grid-right img {
    height: 300px;
    width: 100%;
}

#grid-r1 {
    position: relative;
    top: 20vh;
    height: 280px;
}

/*-------------------founder-container----------------*/
.founder {
    background: #fdf0d7;
    display: flex;
    gap: 8vw;
    justify-content: center;
    padding: 2em 0;

}

.founder-left {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 32px rgba(0, 0, 0, .161);
    min-height: 550px;
    padding: 1em;
    position: relative;
    text-align: center;
    width: 420px;
}

.founder-left1 {
    background: url('/public/images/founderBackground.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 360px;
    width: 100%;
}

.mamta {
    height: 100%;
}


.mamtaname {
    color: #f78077;
    font-size: 28px;
}

.mamta2 {
    color: #858585;
    font-size: 22px;
}

.founder-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

.founder-right h2 {
    color: #f78077;
    font-size: 2.5vw;
    font-weight: 500;
    font-weight: 600;
    width: 90%;
}

.founder-right h3 {
    color: #858585;
    font-size: 2vw;
    font-weight: 500;
    margin: 1em 0 0.7em;
    width: 80%;
}

.founder-konwmorebtn {
    background: #00a5ec;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding: 0.7em;
    text-align: center;
    text-decoration: none;
    width: 200px;
}

.hrline {
    border-color: #b6b6b6;
    border-width: 1px;
    margin-top: 5vh;
    width: 100%;
}

/* ================big poster================== */

.homePage_KnowMetnor__posterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bcf2fb;
    padding: 2em 0em 0em 0em;
}

.homePage_knowMentors__Poster {
    object-fit: contain;
    width: 100%;
}

.HomePageBottom__posterContainer {
    width: 100%;
    margin: 30px 0;
}

.Bottom_poster {
    width: 95%;
}

/*===========mentors card=============*/

.HomePage__PBMentors_CardContainer {
    padding: 2em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.PBMentors__TopCOntainer {
    width: 100%;
    padding: 1em 0em;
    text-align: center;
}

.PBMentors__TopCOntainer_Heading {
    color: #3e4041;
    font-size: 3vw;
    font-weight: 500;
}

.PBMentors__TopCOntainer_SecondaryHeading {
    margin: 7px auto;
    color: #858585;
    font-size: 1.5vw;
    width: 50%;
}

.PBMentors__BottomCOntainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.PB_mentorBottom_Cards {
    width: 100%;
    height: 400px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 3px 36px rgba(0, 0, 0, .1607843137254902);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    padding-bottom: 1em;
}

.MentorProfileBox {
    border-bottom: 1px solid rgba(128, 128, 128, 0.347);
    padding-bottom: 1em;
    position: relative;
}

.mentorProfile_coverImg {
    width: 100%;
}

.mentorProfile_ProfileImage {
    width: 120px;
    position: absolute;
    top: 45px;
    left: 10px;
}

.mentorProfile_mentorName {
    margin-top: 50px;
    color: #424242;
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
    text-transform: capitalize;
}

.mentorProfile_MentorPost {
    font-size: 14px;
    color: #858585;
    margin-left: 15px;
}

.PB_mentorDesc {
    padding: 0px 10px;
    color: #4f4f53;
    font-size: 14px;
    font-weight: 400;
}

.PB_mentorCompany {
    margin: 0px auto;
}




/*=========================MEDIA QUERRY===================
===========================================*/


@media screen and (max-width: 665px) {

    .main {
        border: 2px solid green;
        flex-direction: column-reverse;

    }

    .big-img {
        margin-top: 2px;
        width: 100%;
    }

    .heading {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        padding-left: 20px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .heading h3 {
        font-weight: 500;
        font-size: 22px;
    }

    .heading h4 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .heading h5 {
        font-weight: 500;
        font-size: 21px;
    }

    .brand {
        width: 100%;
        border: 2px solid blue;
    }

    .brand img {
        height: 30px;
    }

    /*==================================coding=Journey==============*/
    .coding-journey {
        display: flex;
        background-color: #f8fafa;
        margin-top: 2vh;
        background-image: url(https://prepbytes.netlify.app/static/media/StudentIMG.c3920ebc7aa5c1485172.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 500px;
        justify-content: center;
    }

    .cod-img {
        display: none;
    }

    .code-jrny-right {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        background: #f8fafabb;
        width: 100%;
    }

    .code-jrny-right h1 {
        font-size: 12px;
        text-align: center;
    }



    /*=======================ALLL BOXES=================*/

    .boxx {
        display: flex;
        justify-content: space-evenly;
    }

    .boxone {
        width: 48%;
    }

    .boxone h3 {
        font-size: 14px;
    }


    .box1 {
        width: 180px;
        display: flex;
    }

    .box1 p {
        margin-left: 20px;
        padding: 10px 0px;
        font-weight: 500;
        width: 70%;
        font-size: 12px;
    }

    .box1 img {
        margin-left: -10px;
    }

    .arrow-right {
        left: 1vw;
        top: 20vh;
        height: 10vh;
    }

    .arrow-left {
        top: 20vh;
        left: 15vw;
        height: 10vh;
    }

    .archive {
        height: 20vh;
    }

    /*=======================COURSE BUY===============
============================================*/

    .course-buy {
        min-height: 170vh;
    }

    .course-buy h2 {
        font-size: 22px;
    }

    .course-purchase {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
    }

    .cards {
        position: absolute;
        z-index: 10;
        height: 46vh;
        padding: 0 1em;
        width: 100%;
        box-sizing: border-box;
    }

    .cardMain {
        border: 2px solid red;
        height: 46vh;
        position: relative;
        width: 15em;
        top: 9vh;
    }

    .sect1 {
        height: 20vh;
        position: absolute;
        z-index: -2;
        top: -8vh;
        width: 25vw;
        left: 30%;
    }

    .sect1a {
        width: 95%;
        height: 25vh;
        z-index: 10;

    }

    .circle {
        width: 40px;
        height: 40px;
        bottom: 0px;
        top: 48%;
        left: 93%;
    }

    /*==========================GRID CONTAINER DESIGN--------------------
------------------------------------------*/
    .grid-main-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        background-color: #f8fafa;
        min-height: 50vh;
    }

    .grid-container-left {
        width: 100%;
        border: 2px solid red;
    }

    .hhh {
        display: block;
        color: #3e4041;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 20px;
        padding-left: 10px;
    }

    .grid-container-left h2 {
        display: none;
    }

    .grid-left {
        gap: 5vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .grid-l {
        height: 12vh;
        width: 90%;
        margin-left: 9%;
    }

    .grid-l img {
        height: 8vh;
        margin-top: 2vh;
    }

    .grid-l p {
        font-size: 14px;
        margin-left: 15vw;
    }

    /*------------------------grid right container---------------*/
    .grid-container-right {
        display: flex;
        width: 100%;
    }


    /*=============FOunder Container======================
============================================*/
    .founder {
        flex-direction: column;
        gap: 5vh;
        padding: 2em 0;
        border: 2px solid green;
    }

    .founder-left {
        min-height: 550px;
        width: 90%;
    }

    .founder-left1 {
        height: 300px;
        width: 100%;
    }

    .mamtaname {
        font-size: 24px;
    }

    .mamta2 {
        font-size: 20px;
    }

    .founder-right {
        width: 100%;
        padding: 0 1em;
    }

    .founder-right h2 {
        font-size: 7vw;
    }

    .founder-right h3 {
        font-size: 6vw;
        font-weight: 500;
        margin: 1em 0 0.7em;
        width: 80%;
    }

    .founder-konwmorebtn {
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
        width: 180px;
    }

    .hrline {
        border-width: 1px;
        margin-top: 5vh;
        width: 90%;
    }

    .bigposter {
        align-items: center;
        background: #bcf2fb;
        display: flex;
        justify-content: center;
        padding: 2em 0 0;
    }


}