.master-main {
    background-color: #f8fafa;
    height: auto;
}

.master {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    border: 2px solid blue;
}

.left {
    width: 40%;
    padding: 20px 35px;
    align-items: center;
}

.left h2 {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    color: rgb(46, 145, 235);
}

.left p {
    width: 90%;
    color: #292626;
    font-weight: 400;
    line-height: 1.4;
}

.left span {
    font-weight: 700;
    font-size: 1.2rem;
}

.right {
    width: 40%;
    display: flex;
    margin-top: 5vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.enrol {
    width: 150px;
    height: 40px;
    margin-top: 5%;
    border: none;
    background: #00a6eb 0 0 no-repeat padding-box;
    box-shadow: 0 0 6px rgba(0, 0, 0, .1607843137254902);
    border-radius: 3px;
    opacity: 1;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/*========================container2==================*/

.container-2 {
    margin: auto;
    margin-top: 10px;
    border: 2px solid palevioletred;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3vw;
    box-sizing: border-box;
    color: #2e2e2e;
    width: 85%;

    padding: 0rem 32px;
    box-sizing: border-box;

}

.enrol1 {
    width: 46%;
    gap: 2vw;
    min-height: 16vh;
    margin: 0.75rem 0rem;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(70, 70, 70, .1607843137);
}

.one {
    border-bottom: 4px solid #df3897;
    border-right: 4px solid #df3897;
}

.enrol1 img {
    width: 17%;
    height: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.two {
    border-bottom: 4px solid #0398d3;
    border-right: 4px solid #0398d3;
    margin-left: 0.75rem;
}

.three {
    border-bottom: 4px solid #7914a3;
    border-right: 4px solid #7914a3;
    margin-right: 0.75rem;
}

.four {
    border-bottom: 4px solid #eb9a00;
    border-right: 4px solid #eb9a00;
    margin-left: 0.75rem;
}

/*---------------------------container3------------------
--------------------------------*/
.container-3 {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    width: 99%;
    border: 2px solid black;
}

.container-3 h5 {
    width: 100%;
    text-align: center;
    color: #151414;
    margin-bottom: 1rem;
    font: normal normal 500 1.75rem/2rem Inter;
}

.container-3 p {
    font: normal normal 400 1.4rem/2rem Inter;
    color: #151414;
    /* margin: 1rem 0rem;
    margin-bottom: 2rem; */
}

/*==============mentor==============*/
.mentor-main {
    display: flex;
    justify-content: space-around;
    gap: 3vw;
}

.mentor-sub {
    /* height: 20vh; */
    border: 2px solid red;
    width: 26vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    background-color: rgb(247, 246, 246);

}

.mentr {
    height: 16vh;
    width: 7.5vw;

}



.descriptn h3 {
    color: #000;
    font: normal normal 600 1.1rem/1.25rem Inter;
}

.descriptn p {
    font-size: 18px;
}

.company {
    height: 6vh;
}

/*==============================container-4------------------
-----------------------------------------*/
.container4 {
    border: 2px solid green;
    background-color: #fcfbfb;
}

.container4 h5 {
    width: 100%;
    text-align: center;
    color: #151414;
    margin-bottom: 1rem;
    font: normal normal 500 1.75rem/2rem Inter;
}

.contain4-sub {
    border: 2px solid rgb(184, 14, 42);
    display: flex;
    /* position: relative;
    left: 5vw; */
    padding: 28px;
    justify-content: space-evenly;
}

.cont4 {
    border: 1px solid rebeccapurple;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.C4-1 {
    display: flex;
    width: 26vw;
    border: 2px solid #df3897;
    align-items: center;
    box-sizing: border-box;

}

.bb {
    direction: rtl;
    line-height: 1.5;
}

.C4-1 p {
    font-size: 14px;
}

.C4-2 {
    display: flex;
    width: 30vw;
    border: 2px solid #ce5298;
    align-items: center;
    box-sizing: border-box;
    gap: 2vw;
    line-height: 1.5;
}


.C4-2 p {
    font-size: 14px;
}

.cir {
    height: 12vh;
    width: 11vw;
    border-radius: 50%;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px rgba(138, 138, 138, .1607843137);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 3vw;

}

.cir2 {
    height: 12vh;
    width: 11vw;
    border-radius: 50%;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px rgba(138, 138, 138, .1607843137);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 3vw;

}

.middle-img {
    width: 32vw;
    height: 100%;
    background-color: rgb(243, 242, 242);
}


/*===============================CONTAINER-5=========
======================================*/
.container5 {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    margin: 2rem auto;
    max-width: 1147px;
    margin-bottom: 3rem;
    gap: 5vw;
}

.container5 h1 {
    color: #00a6eb;
    font: normal normal 700 2.75rem/4rem Inter;
}

.container5 p {
    font-weight: 500;
    color: #322e2e;
}

/*======================CONTAINER-6================
================================*/
.container6 {
    font-size: 22px;
    letter-spacing: 0px;
    opacity: 1;
    text-align: center;
    font-weight: 300;
    margin-bottom: 2rem;
}

.container6 img {
    width: 80vw;
}

/*=========================container7===========
==================================*/
.box7 {
    display: flex;
    width: 80%;
    margin-left: 12vw;
    gap: 2vw;
}

.box7a {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5vh;
    border: 2px solid green;

}

.box7a1 {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px rgba(133, 133, 133, .1607843137);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 12vh;
    gap: 3vw;
}

.box7a1 img {
    height: 10vh;
}

.box7a1 p {
    border-left: 1px solid #707070;
    padding-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.box7a1:hover {
    color: #00a6ec;
}

.box7b {
    width: 50%;
    box-sizing: border-box;
    padding: 0rem 3rem;
    height: 100%;
    box-shadow: 0px 2px 8px rgba(156, 154, 154, .1607843137);
    border-radius: 10px;

}

.box7b li {
    padding-left: 2rem;
    margin: 1rem 0rem;
    font-size: 12px;
    color: #151414;
    position: relative;

}

ul {
    width: 100%;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.subtopic::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 10px;
    width: 2px;
    height: 26px;
    z-index: -1;
    background-color: #00a6eb;
}

.subtopic::after {
    content: "";
    font-size: 30px;
    position: absolute;
    top: 4.5px;
    left: 5px;
    width: 12px;
    height: 12px;
    border: 2px solid #00a6eb;
    border-radius: 50%;
}

/*===========================CONTAINER-8============
============================================*/
.batchSelectionContainer {
    padding: 2em 0em;
    border-top: 2px solid #423c3c5e;
    border-bottom: 2px solid #423c3c6c;
    width: 100%;
    min-height: 350px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.SelectBatchText {
    font-weight: 400;
    font-size: 1.5vw;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
}

.batchSelection__option {
    user-select: none;
    width: 250px;
    height: 100px;
    color: #1b7ed8;
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 0 5px rgba(37, 37, 37, .1607843137254902);
    border-radius: 5px;
    border-bottom: 5px solid #00a6eb;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2em;
    gap: 10px;
}

.batchSelection__option:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1607843137254902);
}

.batchStartingDate {
    color: #1b7ed8;
    font-weight: 700;
    font-size: 22px;
}

.bathStartingDate_text {
    color: #031e4d;
    font-size: 16px;
    font-weight: 400;
}

.batchPriceContainer {
    width: 220px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.batchPrice_text {
    font-weight: 600;
    font-size: 2vw;
    color: #08a2eb;
}

.batchSelection__SelectedOption {
    color: #fff;
    background: #00a6eb;
    box-shadow: 0 0 10px rgba(37, 37, 37, .1607843137254902);
    border: 1px solid #00a3e6;
    border-radius: 5px;
}

.batchSelection__SelectedOption:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1607843137254902);
}


.batchSelection__SelectedOption .batchStartingDate,
.batchSelection__SelectedOption .bathStartingDate_text {
    color: white;
}





/*===============================container9================
=====================================*/
.container9 {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px rgba(168, 164, 164, .1607843137);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 1rem;
    box-sizing: border-box;
    min-height: 22rem;
    max-width: 1147px;
    margin: 3rem auto;
    margin-bottom: 0rem;
    border-top: 0.5px solid #c2c2c2;
    border-bottom: 0.5px solid #c2c2c2;
}

.container9 h5 {
    color: #3f3c3c;
    font: normal normal 500 1.75rem/3rem Inter;
    margin-bottom: 3rem;
    display: block;
}

.cont9-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    font: normal normal 700 1rem/1.5rem Inter;
    gap: 2vw;
}

.cont9-2 {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    color: #151414;
    border: 2px solid aqua;
    gap: 2.5vw;
}

.cont9-2A {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    width: 43%;
    gap: 1 vvw;

}

.one {
    border-bottom: 4px solid #df3897;
    border-right: 4px solid #df3897;
}

/*===========================MEDAIA QUERRY============================
===================================*/
@media screen and (max-width: 765px) {

    /*---------------container1--------------------*/


    .master {
        margin-top: 5px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .left {
        width: 100%;
    }

    .left h2 {
        width: 100%;
        font-size: 1.5rem;
    }

    .left p {
        width: 90%;
    }

    .left span {
        font-size: 1rem;
    }

    .right {
        width: 100%;
        margin-top: 1vh;
        height: 100%;
    }

    .right img {
        width: 98%;
    }

    /*========================container2==================*/

    .container-2 {
        width: 100%;
        flex-direction: column;
        gap: 3vh;
    }

    .enrol1 {
        width: 99%;
    }

    /*---------------------------container3------------------
--------------------------------*/
    .container-3 {
        width: 100%;

    }

    .container-3 h5 {
        width: 100%;
        font: normal normal 500 1.2rem/2rem Inter;
    }

    .container-3 p {
        font: normal normal 400 1.0rem/2rem Inter;
    }

    /*==============mentor==============*/
    .mentor-main {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }

    .mentor-sub {
        width: 100%;
        gap: 4vw;
    }

    .mentr {
        height: 10vh;
        width: 15.5vw;
    }

    .descriptn h3 {
        font: normal normal 600 1.0rem/1.25rem Inter;
    }

    .descriptn p {
        font-size: 16px;
    }

    .company {
        height: 5vh;
    }


}