.upper-content {
    background: transparent linear-gradient(180deg, #3969ad, #1d3557) 0 0 no-repeat padding-box;
    color: white;
    height: 30vh;
    padding: 30px;
    font-family: sans-serif;
    font-size: 24px;
}

.upper-content p {
    width: 55%;
    line-height: 1.5;
    font-size: 16px;
}

.featured-mock P {
    color: #22559c;
    font-size: 28px;
}

.featured-mock h2 {
    text-align: center;
    color: #ffa000;
    font-weight: 500;
    font-size: 18px;
    /* position: relative;
    margin: 15px 0 40px; */

}

.feattured-mock-test {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 50vh;
    gap: 4vw;
    flex-wrap: wrap;
}

.mock1 {
    width: 17em;
    /* padding: 10px; */
    background: transparent linear-gradient(180deg, #e0ebf9, #fff 54%, #fff) 0 0 no-repeat padding-box;
    box-shadow: 0 10px 30px rgba(95, 141, 196, .2);
    border-radius: 5px;
    color: #707070;
    text-align: center;
}

.mock-icon {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.image-mock {
    height: 10vh;
    width: 20vw;
}

.image-m {
    height: 10vh;
    width: 13vw;
}

.mock1 h4 {
    color: #3969ad;
    font-weight: 500;
    font-size: 17px;
}

.mock-details {
    display: flex;
    justify-content: space-evenly;
}

.mock-details p {
    color: #707070;
    font-size: 15px;
    font-weight: 500;
}

.mock-d {
    display: flex;
    flex-direction: column;

}

.pp {
    font-size: 16px;
    color: blueviolet;
}

.buynow {
    background: #22559c;
    box-shadow: 0 3px 6px rgba(95, 141, 196, .2);
    border-radius: 5px;
    cursor: pointer;
    padding: 11px 33.7px;
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
    text-decoration: none;
    border: none;
}

.companywise {
    width: 11em;
    padding: 15px;
    background: transparent linear-gradient(180deg, #ffe4b6, #fff 54%, #fff) 0 0 no-repeat padding-box;
    text-align: center;
    box-shadow: 0 10px 30px rgba(95, 141, 196, .2);
    border-radius: 5px;
    color: #707070;
    margin: 15px;
}

/*=====================media querrry==================*/
@media screen and (max-width: 765px) {
    .upper-content {
        height: 35vh;
        padding: 20px;
        font-size: 20px;
    }

    .upper-content p {
        width: 95%;
        font-size: 15px;
    }

    .featured-mock P {
        font-size: 24px;
        padding-left: 10px;
    }

    .featured-mock h2 {
        text-align: center;
        color: #ffa000;
        font-weight: 500;
        font-size: 18px;
    }

    .feattured-mock-test {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        min-height: 50vh;
        gap: 4vw;
        flex-wrap: wrap;
    }

    .image-m {
        height: 10vh;
        width: 13vw;
    }

    .mock1 h4 {
        color: #3969ad;
        font-weight: 500;
        font-size: 17px;
    }

    .mock-details {
        display: flex;
        justify-content: space-evenly;
    }

    .mock-details p {
        color: #707070;
        font-size: 15px;
        font-weight: 500;
    }

    .mock-d {
        display: flex;
        flex-direction: column;

    }

    .pp {
        font-size: 16px;
        color: blueviolet;
    }

    .companywise {
        width: 11em;
        padding: 15px;
        margin: 15px;
    }
}

@media screen and (min-width:766px) and (max-width:998px) {
    .upper-content {
        height: 22vh;
    }

    .upper-content p {
        width: 94%;
        font-size: 20px;
    }

    .featured-mock P {
        font-size: 32px;
        padding-left: 3vw;
    }

    .featured-mock h2 {
        font-size: 28px;
    }

    .feattured-mock-test {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        min-height: 40vh;
        gap: 4vw;
        flex-wrap: wrap;
    }

    .mock-details p {
        font-size: 15px;
        font-weight: 500;
    }

    .mock-d {
        display: flex;
        flex-direction: column;

    }

    .pp {
        font-size: 17px;
        color: blueviolet;
    }


}