.video-top {
    background: #d9f5f9 0 0 no-repeat padding-box;
    min-height: 300px;
    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.video-left {
    width: 45%;
    padding-left: 20px;
}

.video-right {
    width: 45%;
}

.video-top h4 {
    font-size: 32px;
    font-weight: 600;
    color: #00a5ec;
}

.video-top p {
    font-size: 16px;
    letter-spacing: .14px;
    line-height: 1.4;
    /* padding-bottom: 29px;
    padding-right: 10px; */
    color: #424242;

}

.category {
    font-size: 18px;
    color: #22559c;
    margin-left: 7%;
    /* margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
    position: relative; */
}

.v-tutorial {
    border: 2px solid red;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.flex-item {
    width: 20vw;
    border: 2px solid green;
}