.payment-main {
    background-color: rgb(240, 235, 235);
}

.headcart {
    text-align: center;
    font-size: 34px;
    text-transform: capitalize;
    color: rgb(115, 115, 241);

}

.cart-item {
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
}



.childCartConatiner {
    min-height: 20vh;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;

}

.product-name {
    width: 16vw;

}

.cart-img {
    height: 15vh;
    width: 10vw;
}

.RemoveButtton {
    height: 5vh;
    position: relative;
    left: 5vw;
    top: 4vh;
    font-size: 18px;
    color: blueviolet;
    border-color: blueviolet;
    border-radius: 5px;
}

.price {
    position: relative;
    left: 8vw;
}

.checkout {
    height: 7vh;
    position: relative;
    left: 45%;
    border-radius: 5px;
    border-color: palevioletred;
    color: palevioletred;
    font-size: 22px;
    background-color: transparent;
}